:host {
  display: block;
}

.card {
  @apply bg-white rounded-2xl shadow-sm;
}

.btn-primary {
  @apply bg-primary text-white rounded-lg font-semibold transition-all duration-300;

  &:hover {
    @apply bg-opacity-90;
  }
}
