@keyframes slideFromRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideFromBottom {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Base animation for mobile */
.panel-animation {
    animation: slideFromBottom 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

/* MD and UP: Right to Left animation */
@media (min-width: 768px) {
    .panel-animation {
        animation: slideFromRight 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    }
}

.animate-fade-in {
    animation: fadeIn 0.4s ease-out forwards;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

:host {
    display: contents;
}