{{!--
  Email Header Partial
  Variables available: logoUrl, frontendUrl, brandName
--}}
<tr>
    <td align="center" style="padding: 40px 30px 10px 30px;">
        <a href="{{frontendUrl}}" style="text-decoration: none; display: inline-block;">
            <img src="{{logoUrl}}"
                 alt="{{brandName}}"
                 width="130"
                 style="display: block; border: 0; height: auto; max-width: 100%;" />
        </a>
    </td>
</tr>
