* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #F2F0E9; // Fallback
    color: #2C2825;
    -webkit-font-smoothing: antialiased;
}